$imgdir: "../img/";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: url($imgdir + 'chichi.webp');
    background-size: 100vh;
    background-repeat: no-repeat;
    color: red;
}

.navbar {
    background-color: #333;
    padding: 20px 0px;
    a{
        &:link, &:hover, &:visited, &:active {
            text-decoration: none;
            font-weight: 700;
            color: #DDD;
            text-shadow: 1px 1px 2px #000;
        }
    }
}